.c-form__group {
    @apply relative;
    @apply flex;
    @apply mb-20;

    label {
        @apply inline-block;
        @apply mb-8;
        @apply text-gray-300;
    }

    input:focus,
    select:focus {
        @apply outline-none;
    }

    input, select {
        @apply w-full;
        @apply p-10;
        @apply border border-solid border-gray-200 bg-white;
        border-radius: theme('spacing.4');
    }

    select {
        height: 46px;
        line-height: 46px;

        option {
            @apply text-gray-400;
        }
    }
}

.c-form__input {
    @apply flex items-center;
    @apply relative;
}
